.modal-win {
	// display: block;
	max-width: 100%;
	width: 400px;
	padding: rem(50);
	position: relative;
	background: linear-gradient(54.42deg, #FF8731 -0.47%, #FF394D 88.37%)!important;
	color: $white;
	border-radius: rem(10);

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap{
		text-align: center;
		color: $white;
		&__title{
			line-height: 1.2;
			font-weight: bold;
			margin-bottom: 15px;

			font-size: 20px;
			@include media-breakpoint-up(lg){
				font-size: rem(30);
			}

			&--big{

			}
		}
		&__descr{
			line-height: 1.65;
			padding-bottom: rem(25);
		}

		.custom-select{
			width: 100%;
		}

		&__input{
			width: 100%;
			font-size: 13px;
			line-height: (16/13);

			padding-left: 20px;

			@include placeholder(){
				color: $black!important;
			}
		}

		&__btn{
			@extend .default-btn;

			min-width: 100%;

			padding: rem(19.5) rem(25);
			border: 3px solid $white!important;
		}
	}

	//
	&__th-cont{
		padding: rem(100) 0;
	}
	&__th-title{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: rem(40);
		margin-bottom: rem(25);
		font-weight: bold;
		line-height: 1.2;
	}
	&__th-descr{
		line-height: 165%;
	}
	//
	&__{}
	&__{}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}
