
mixin modal() 
	//  start modals
	+b.modal-win(id="modal-form" class=" " style="display: none" )
		+form-wrap
			+e.title Отправьте заявку и получите скидку 5% на все услуги
			+e.descr Выберите услуги и введите телефон — мы перезвоним вам
			.mb-3
				+customSlect('service', undefined, 'Выберите услуги')
			.mb-3
				+input('Введите телефон', 'tel')
			+e.BUTTON.btn(type="submit") Отправить заявку
	// #modal-form
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+e.th-cont.text-center
			+e.th-title
				| Спасибо
				| за заявку
			+e.th-descr Мы скоро с Вами свяжемся
	
	// end modals