.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-l-sm {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-arrow-left {
	font-size:(16/10)*1rem;
	width:(21/16)*1em;
}
.icon-arrow-r-sm {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-arrow-right {
	font-size:(16/10)*1rem;
	width:(21/16)*1em;
}
.icon-burger-all {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-chevron-down {
	font-size:(10/10)*1rem;
	width:(16/10)*1em;
}
.icon-clock {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-cross {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-location {
	font-size:(25/10)*1rem;
	width:(17/25)*1em;
}
.icon-mail {
	font-size:(21/10)*1rem;
	width:(28/21)*1em;
}
.icon-tel {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
.icon-zoom {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
