// start .sFbPills
.sFbPills {
	--sPT: 54px;
	--sTPB: 30px;
	--sPB: 40px;
	@include media-breakpoint-up(sm){
		--sPT: #{rem(98px)};
		--sTPB: #{rem(52)};
		--sPB: #{rem(66px)};
	}

	position: relative;
	z-index: 1;

	&:after{
		content: '';
		background: $gray-110;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		width: 100%;
		height: 300px;
	}
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before{
			content: '';
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $gray-110;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		clip-path: polygon(100% 0.5%,100% 100%,0 100%,0 0);
		@include media-breakpoint-up(sm){
			clip-path: polygon(84% 1%, 100% 0, 100% 100%, 0 100%, 0 0);
		}
		@include media-breakpoint-up(xl){
			clip-path: polygon(84% 2%,100% 0,100% 100%,0 100%,0 0);
		}
	}

	&__container{
		@include media-breakpoint-down(sm){
			padding: 0 10px;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 10px;
		}
	}

	.sFeedback{
		margin: 0;

		padding-bottom: 3px;
		@include media-breakpoint-up(sm){
			padding-bottom: rem(33px);
		}
	}
	//
	&__{}
	&__{}
} // end.sFbPills