// start .sBase
.sBase {
	--sPT: 27px;
	--sTPB: 26px;
	--sPB: 63px;
	@include media-breakpoint-up(sm){
		--sPT: #{rem(70)};
		--sTPB: #{rem(72px)};
		--sPB: #{rem(103px)};
	}

	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before{
			content: '';
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $gray-110;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		//clip-path: unset!important;

		clip-path: polygon(100% 3%,100% 100%,73% 98%,0 99%,0 0);
		@include media-breakpoint-up(sm){
			clip-path: polygon(88% 4%,109% 0,100% 100%,4% 93%,0 96%,0 0);
		}
		@include media-breakpoint-up(xl){
			clip-path: polygon(88% 8%,109% 0,100% 100%,12% 93%,0 96%,0 0);
		}
	}

	&__container{
		@include media-breakpoint-down(sm){
			padding: 0 10px;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 10px;
		}
	}


	.section-title{
		h2{
			font-size: 26px;
			@include media-breakpoint-up(sm){
				font-size: rem(48);
			}
		}
	}
	&__row{
		@include roww(20px);

		& > *{
			margin-bottom: 20px;
		}
		margin-bottom: -20px;

		@include media-breakpoint-up(sm){
			@include roww(30px);

			& > *{
				margin-bottom: 30px;
			}
			margin-bottom: -30px;
		}
	}
	&__item{
		//border: 3px solid $danger;
		//border-image: linear-gradient(54.42deg, #FF8034 -0.47%, #FF394D 88.37%);
		//border-image-slice: 1;

		padding: 22px 18px;
		@include media-breakpoint-up(sm){
			padding: rem(28px) rem(25px);
		}
	}
	&__title{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;

		font-size: 16px;
		margin-bottom: 13px;
		@include media-breakpoint-up(sm){
			font-size: rem(20);
			margin-bottom: rem(21);
		}

		color: $primary;
		&:hover{
			color: $body-color;
		}
	}
	&__content{
		ul{
			list-style: none;
			padding: 0;
			margin: 0 0 20px;
			@include media-breakpoint-up(sm){
				margin: 0 0 rem(41);
			}

			li{
				color: $body-color;
				font-weight: 400;

				line-height: 1.35;
				font-size: 13px;
				margin-bottom: 14px;
				@include media-breakpoint-up(sm){
					font-size: rem(18);
					margin-bottom: rem(20);
				}

				&:last-child{
					margin-bottom: 0;
				}
			}


		}
	}
	&__price{
		color: $body-color;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.35;
		@include media-breakpoint-up(sm){
			font-size: rem(24);
		}

	}
	//
	&__{}
	&__{}
} // end.sBase