mixin sDescr(data)
	// start sDescr
	+b.sDescr.section#sDescr&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/svg/sDescr-bg.svg" alt="")
		+e.container.container
			p Контакт-центр «Фронт Лайн» — молодая, активно развивающаяся компания, заинтересованная в привлечении профессиональных и перспективных сотрудников.
			p.mb-0 Наши предложения кандидатам:
			ul
				//- •
				li работа оператором call центра
				li работа в Солнечногорске и Зеленограде
				li работа в Зеленограде для женщин и мужчин
				li работа в Зеленограде для студентов
				li работа в Зеленограде без опыта
				li работа в Зеленограде для пенсионеров
			p
				| Своим сотрудникам мы также можем предложить: свободный график, совместительство, частичную занятость.
				br
				| Контактный центр Фронт Лайн в Зеленограде - это работа недалеко от дома в удобное время!
			p Цель нашей кадровой политики — предоставление сотрудникам широких возможностей для профессионального и карьерного роста. Мы обеспечиваем социальные гарантии, безопасные условия труда, обучение, мероприятия по повышению квалификации, тем самым содействуя развитию наших сотрудников и неуклонному повышению их профессиональной компетенции.
			p «Фронт Лайн» предъявляет высокие требования к своим потенциальным сотрудникам, поэтому кандидаты проходят многоуровневый отбор, который позволяет представителям кадрового отдела определить потенциал каждого соискателя. В наших будущих сотрудниках мы ценим открытость и честность, способность к развитию, нацеленность на результат, а также навыки решения проблем и принятия решений.
	// end sDescr