mixin sOrganition(data)
	// start sOrganition
	+b.SECTION.sOrganition.section#sOrganition&attributes(attributes)
		+e.container.container
			+e.lonely-txt
				p Также она подразумевает сочетание различных направлений, обеспечивающих всестороннюю поддержку клиентской компании. Независимо от используемого предложения, прием входящих звонков, их последующая обработка должны осуществляться предельно корректно и на высоком профессиональном уровне.
			+b.section-title
				h2 Организация горячей линии
				p Для того чтобы горячая линия приносила нужный результат, операторы контакт-центра «Фронт Лайн» проходят специальное обучение, позволяющее проводить консультации и оказывать профессиональную помощь на качественно высоком уровне. Помимо этого, они снабжаются методическими пособиями и имеют возможность переадресовать телефонный звонок специалисту в определенной области.
				p Предлагаемая услуга значительно снизит нагрузку на телефонную линию вашей компании, а возможности многоканальной связи позволят обслуживать неограниченное количество звонков одновременно.
			+e.baner
				img(loading="lazy" src="img/@2x/baner-img.png" alt="")
	// end sOrganition