mixin sVantage(data)
	// start sVantage
	+b.SECTION.sVantage.section#sVantage&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| Преимущества горячей линии
					|
					br.d-none.d-lg-block
					| от&#160;«Фронт Лайн»
			+e.row.row
				+sVantageItem('Вы улучшаете клиентский сервис')
					| В компании «Фронт Лайн» работают профессионалы. Как результат — ваши клиенты получат развернутую, понятную консультацию и вежливый ответ даже в конфликтной ситуации.
				+sVantageItem('Вы расширяете список контактов')
					| Для предоставления услуги горячей линии мы используем многоканальные АТС и номера. Это значит, что в один момент времени может происходить диалог сразу с несколькими клиентами. Их номера телефонов могут быть зафиксированы, если они дадут согласие на обработку данных.
				+sVantageItem('Вы улучшаете репутацию бренда', 'big')
					| Сам факт предоставления клиентам услуги горячей линии, которая действительно работает, даёт вашей компании конкурентное преимущество. Это увеличивает доверие и укрепляет положительный имидж.
				+sVantageItem('Вы экономите', 'big')
					| Закажите услугу организации горячей линии, и вам не придётся нанимать персонал, тратить деньги на оборудование его места, оплату обучения и надбавки за работу в ночные смены.
	// end sVantage

mixin sVantageItem(title, txtClass)
	+e.col.col-md-6
		+e.content
			+e.title=title
			+e.txt(class=txtClass)
				block