mixin sAllCountry(data)
	// start sAllCountry
	+b.SECTION.sAllCountry.section#sAllCountry&attributes(attributes)
		+e.bg
			img(loading="lazy" src='img/@2x/all-country.png' alt="")
		+e.container.container
			+b.section-title
				h2 Работаем в масштабе всей страны
				p Наша компания поддерживает техническое обеспечение локальных социальных программ и федеральных социальных инициатив в различных регионах страны, в том числе федеральную целевую программу «Электронная Россия» и долгосрочную целевую программу «Информационное общество 2011—2018 гг.».
				p Мы создаем рабочие места, содействуем обеспечению информационной прозрачности и открытости властных структур для гражданского общества, а также повышаем удовлетворенность граждан работой органов государственной власти и местного самоуправления. Ежедневный мониторинг состояния общества обеспечивает оперативное информирование компетентных органов власти и должностных лиц о необходимости принятия тех или иных решений, имеющих социальное значение.
	// end sAllCountry