// start .sTeamRow
.sTeamRow {
	--sPT: 10px;
	--sPB: 56px;
	--sTPB: 23px;
	@include media-breakpoint-up(sm){
		--sPT: #{rem(39)};
		--sPB: #{rem(92)};
		--sTPB: #{rem(50)};
	}

	.breadcrumb-par{
		margin-bottom: 15px;
		@include media-breakpoint-up(sm){
			margin-bottom: 24px;
		}
	}
	&__container{
		@include media-breakpoint-down(sm){
			padding: 0 9px;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 6px;
		}
	}
	.section-title{
		h1{
			font-weight: bold;

			font-size: 26px;
			@include media-breakpoint-up(sm){
				font-size: rem(64px);
			}
		}
	}
	&__row{
		@include roww(12px);

		& > *{
			margin-bottom: 22px;
		}

		margin-bottom: -22px;

		@include media-breakpoint-up(sm){
			@include roww(33px);

			& > *{
				margin-bottom: rem(48);
			}

			margin-bottom: rem(-48);
		}
	}
	&__col{

	}
	&__item{

	}
	&__img{
		@extend .accept-ratio-frame-nh;

		padding-top:(139/145) * 100%;
		margin-bottom: 11px;
		@include media-breakpoint-up(sm){
			padding-top: 100%;
			margin-bottom: rem(24);
		}

		&:after{
			@include mt();
			opacity: 0;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			border: 3px solid $danger;
			border-image: linear-gradient(54.42deg, #FF8034 -0.47%, #FF394D 88.37%);
			border-image-slice: 1;
		}

		&:hover:after{
			opacity: 1;
		}
	}
	&__name{
		font-weight: bold;

		line-height: (16/13);
		margin-bottom: 6px;
		@include media-breakpoint-up(sm){
			line-height: (20/16);
			margin-bottom: 5px;
		}
	}
	&__duty{

		font-size: 11px;
		line-height: (13/11);
		margin-bottom: 6px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
			line-height: (17/14);
			margin-bottom: rem(18);
		}
	}
	&__descr{
		line-height: 1.2;
		font-size: 10px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
			line-height: (17/14);
		}
	}
	//
	&__{}
	&__{}
} // end.sTeamRow