mixin sService(data)
	// start sService
	+b.SECTION.sService.section#sService&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/svg/sService-bg.svg" alt="")
		+e.container.container
			+b.section-title
				h2 Услуги
			+e.grid-row
				//-1
				+sServiceItem([
					'Для банков и финансового сектора',
					'Для логистики',
					'Для населения',
					'Для госструктур',
					'Для страховых компаний',
					'Для ритейла',
				])(class="top-item")
					| Готовые
					br
					| решения
				//-2
				+sServiceItem([
					'Виртуальный офис и ресепшн',
					'Клиентский сервис и поддержка',
					'Горячая линия',
					'Прием жалоб и предложений',
					'Прием заказов',
					'Техническая поддержка',
				])(class="top-item")
					| Входящие
					br
					| звонки
				//-3
				+sServiceItem([
					'Номер 8 800',
					'Аренда рабочего места',
					'Обработка данных заказчика',
					'SMS-рассылка',
					'Консалтинг в области C all-центров',
					'Почтовая рассылка',
					'Аренда оператора',
				])(class="lower-item")
					| Другие
					br
					| услуги
				//-4
				+sServiceItem([
					'Создание и поддержка чат-ботов',
					'Голосовой помощник',
					'Распознавание речи',
					'База знаний',
				])(class="lower-item")
					| Искусственный
					br
					| интеллект
				//-5
				+sServiceItem([
					'Актуализация базы данных',
					'Информирование клиентов',
					'Коллекторские услуги',
					'Конкурентная разведка',
					'Лидогенерация',
					'Назначение встреч',
					'Проведение опросов',
					'Оценка качества работы',
					'Повышение лояльности клиентов',
					'Приглашения на мероприятия',
					'Телемаркетинг',
				])
					| Исходящие
					br
					| звонки
	// end sService

mixin sServiceItem(links)
	+e.g-col
		+e.item&attributes(attributes)
			+e.H5.title
				block
			+e.links
				- for (var i = 0; i < links.length; i++)
					+e.link(href="#")=links[i]