// start .sTeam
.sTeam {
	color: $white;

	--sPT: 44px;
	--sPB: 55px;
	--sTPB: 23px;
	@include media-breakpoint-up(sm){
		--sPT: #{rem(60)};
		--sPB: #{rem(70)};
		--sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{rem(95)};
		--sPB: #{rem(96)};
		--sTPB: #{rem(51)};
	}

	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before{
			content: '';
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(54.42deg, #FF8731 -0.47%, #FF394D 88.37%);
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		clip-path: polygon(100% 2%,100% 95.7%,46% 95%,0 98%,0 0);
		@include media-breakpoint-up(sm){
			clip-path: polygon(0 0,81% 3%,100% 0,100% 100%,20% 97%,0 100%);
		}
		@include media-breakpoint-up(xl){
			clip-path: polygon(0 0,78.5% 8.3%,100% 0,100% 100%,22% 92%,0 100%);
		}
	}
	&__container{
		@include media-breakpoint-down(sm){
			padding: 0 10px;
		}
	}

	.section-title{
		h2{
			text-transform: uppercase;

			@include media-breakpoint-down(sm){
				font-size: 26px;
			}
		}
	}

	&__slider{
		position: relative;

		padding: 0 35px;
		@media (min-width: 420px) {
			padding: 0;
		}

		.swiper-container{}
		.swiper-wrapper{}
		.swiper-slide{
			width: 100%;
			@media (min-width:420px) {
				width: calc((100% / 2) - (16px * 1 / 2));
			}
			@include media-breakpoint-up(md){
				width: calc((100% / 3) - (16px * 2 / 3));
			}

			@include media-breakpoint-up(lg){
				width: calc((100% / 4) - (16px * 3 / 4));
			}
			@include media-breakpoint-up(xl){
				width: calc((100% / 4) - (40px * 3 / 4));
			}

		}
	}
	//prev, next
	.team-prev,
	.team-next{
		@extend .swiper-nav-frame;
		border: 3px solid $white !important;

		width: 40px;
		height: 40px;
		@include media-breakpoint-up(sm){
			width: rem(50);
			height: rem(50);
		}
	}

	.team-prev{
		left: 0;

		transform: translateY(calc(-50% - 23px));
		@include media-breakpoint-up(sm){
			transform: translateY(calc(-50% - #{rem(30)})) translateX(-50%);
		}
	}
	.team-next{
		right: 0;

		transform: translateY(calc(-50% - 23px));
		@include media-breakpoint-up(sm){
			transform: translateY(calc(-50% - #{rem(30)})) translateX(50%);
		}
	}
	//pugin
	.team-pugin{
		@extend .swiper-pugin-frame;

		padding: 15px 0;
		@include media-breakpoint-up(sm){
			padding: rem(30px) 0;
		}


		.swiper-pagination-bullet{
			background: $white;
			&:hover, &-active{
				background: $primary;
			}
		}
	}
	//
	&__img{
		@extend .accept-ratio-frame-nh;

		padding-top: 129.6%;
		margin-bottom: 13px;
		@include media-breakpoint-up(sm){
			padding-top: (340/260) * 100%;
			margin-bottom: 19px;
		}
	}
	&__name{
		display: block;
		font-weight: bold;

		font-size: rem(16);
		line-height: (20/16);
		margin-bottom: 1px;
		@include media-breakpoint-up(sm){
			font-size: rem(16);
			line-height: (20/16);
			margin-bottom: 5px;
		}
	}
	&__prof{
		font-size: 11px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
			line-height: (17/14);
		}
	}
	//
	&__{}
	&__{}
} // end.sTeam