mixin sTeam(hasPar)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/svg/sService-bg-white.svg" alt="")
		+e.container.container
			+b.section-title
				h2 Команда
				if hasPar
					p.d-none.d-sm-block Руководители и сотрудники компании обладают высоким уровнем компетенции и большим опытом в телекоммуникационных областях, имеют хорошо развитые управленческие навыки. В целях модернизации систем и технологий, на которых строится наша работа, компания по мере необходимости привлекает передовых разработчиков программного обеспечения. Мы используем собственную CRM-систему, которая в постоянном режиме гибко адаптируется под требования клиентов и времени, а также современный программный комплекс, предназначенный для работы в составе систем автоматизации технологических процессов, сбора информации и централизованного управления объединенными в сеть локальными системами автоматизации.
			+e.slider
				.swiper-container.team-slider-js
					.swiper-wrapper
						+teamSlide(1)
						+teamSlide(2)
						+teamSlide(3)
						+teamSlide(4)
						+teamSlide(1)
				+b.team-prev--js
					+icon('arrow-left', 'd-none d-sm-block')
					+icon('arrow-l-sm', 'd-sm-none')
				+b.team-next--js
					+icon('arrow-right', 'd-none d-sm-block')
					+icon('arrow-r-sm', 'd-sm-none')
			+b.team-pugin--js
	// end sTeam

mixin teamSlide(imgNum)
	.swiper-slide
		+e.img
			img(loading="lazy" src=`img/@2x/team-slide-${imgNum}.jpg` alt="")
		+e.name Имя фамиля
		+e.prof Должность