mixin sFormAlt(data)
	// start sFormAlt
	+b.SECTION.sFormAlt.section#sFormAlt&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/svg/sForm-bg.svg" alt="")
		+e.container.container
			+e.row.row
				+e.inp-col.col-md-11.col-lg-8
					+b.section-title.text-center.text-sm-start
						h2 Добавьте свой отзыв о работе с нами
						p Заполните форму и отправьте нам
					+form-wrap
						+e.row.row
							+e.ta-col.col-12.col-sm
								+input('Напишите отзыв о нашей работе', 'textarea')
							.col-12.col-sm-auto
								+input('Введите ваше имя', 'text', undefined, 'name')
								+input('Введите email', 'email')
								+e.BUTTON.btn(type="submit") Добавить отзыв
				+e.img-col.col-lg-4.d-none.d-lg-flex
					+e.img
						img(loading="lazy" src="img/svg/chat-img.svg" alt="")
	// end sFormAlt