//- pugination
mixin pugin()
	+b.pagination&attributes(attributes)
		+e.row.row
			.col-auto
				+e.txt-link(href="#") Первая
			.col-auto
				+e.txt-link(href="#") Предыдущая
			.col
				+e.links
					+e.link--current(href="#") 1
					- for (var i = 2; i <= 10; i++)
						+e.link(href="#")=i
			.col-auto
				+e.txt-link(href="#") Следующая
			.col-auto
				+e.txt-link(href="#") Последняя